{% extends "base.html" %}
{% load static %}

{% block title %}Password Reset Complete{% endblock title %}

{% block content %}
<!-- component -->
<body class="antialiased bg-slate-200">
    <div class="max-w-lg mx-auto my-10 bg-white p-8 rounded-xl shadow shadow-slate-300">
        <h1 class="text-4xl font-medium">Password Reset Complete</h1>
        <p class="text-slate-500">Your password has been successfully reset.</p>

        <p class="mt-5">You can now log in with your new password.</p>
        
        <a href="{% url 'sign_in' %}" class="mt-5 inline-block w-full py-3 font-medium text-white bg-indigo-600 hover:bg-indigo-500 rounded-lg border-indigo-500 hover:shadow inline-flex space-x-2 items-center justify-center">
            <span>Go to Login</span>
        </a>
    </div>
</body>
{% endblock content %}